* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', 'Poppins', sans-serif ;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    /* box-shadow: 1px 1px 10px #fff; */
    /* border-bottom: 15px ridge #fff; */

    margin-bottom: 50px;
}

header ul {
    display: flex;
}

ul {
    list-style: none;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}

a {
    text-decoration: none;
    padding: 5px;
}

header ul li a {
    transition: 500ms;
    margin: auto 10px;
    color: #f1faee;
}

header ul li a:hover {
    color: #ffba08;
    text-decoration: underline;
}

body {
    height: 100vh;
    /* background: url(./pexels-photo-924824.webp) no-repeat center center fixed; */
    background-size: cover;

    /* background: linear-gradient(90deg, #D65DB1, #2c3e50); */
    background-image: linear-gradient(to right top, #152837, #242b4b, #472652, #6c1746, #830c28);
    /* background-image: linear-gradient(to right top, #264653, #225b68, #1c7079, #1b8786, #2a9d8f); */
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    /* background-image: linear-gradient(to right top, #001427, #251d4b, #650d56, #a00040, #bf0603); */
    /* background-image: radial-gradient(circle, #00010d, #39393f, #727176, #b0b0b2, #f2f2f2); */
}

.container {
    flex-flow: column;
    text-align: center;
    justify-content: center;
}

.container .name h1 {
    font-size: 60px;
    text-shadow: 2px 3px 0px #898999;
}

.container .name h5 {
    font-size: 25px;
    text-shadow: 1px 2px 0px #898999;
}

#about p {
    max-width: 90%;
}

#arrow {
    font-size: 35px;
    margin: 0 auto;
    cursor: pointer;
    animation: blink 2s steps(5, start) infinite ;
}

/* Animação pisca */
@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 200ms;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.rotate {
    transform: rotate(-90deg);
    transition: 200ms;
}

/* Important */
.active {
    display: block !important ;
}

.form {
    width: 40%;
    margin: 0 auto;
    /* border: thick double #fff; */
    padding: 25px;
    margin-top: 25px;
}

.form input {
    height: 46px;
    font-size: 18px;
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #43aa8b;
}

.form button {
    /* width: 15%; */
    height: 46px;
    font-size: 18px;
    padding: 5px 10px;
    background: linear-gradient(to right, #c09717 50%, #c0551b 50%);
    background-size: 200% 100%;
    background-position: right bottom ;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 500ms ease-out;
    border-radius: 0 5px 5px 0;

}

.form button:hover {
    background-position: left bottom;
}

/* Media queryes */
@media only screen and (max-width: 480px) {
    #logo {
        width: 80%;
    }
    
    ul {
        font-size: 15px;
    }
    
    .container .name h1 {
        font-size: 40px;
    }

    .container .name h5 {
        font-size: 15px;
    }

    #about p {
        max-width: 80%;
    }

    .form {
        width: 100%;
    }
    
}